* {
    font-family: "Roboto", "New Times Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    font-size: 15px;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
}

.adcont {
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px;
}

.buttonad {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border-color: white;
    font-size: 18px;
}

.action {
    font-weight: bold;
    font-size: 22px;
}

.qoutecont {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 160px;
}

.qoute {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.author {
    align-self: flex-end;
}

.ad {
    padding: 40px;
}